@import '../../../style/pallete.scss';

mat-card
{
    display: block;
    margin: 1em auto;
    width: 20em;
    min-height: 14em;
}

.mat-chip, mat-card
{
    color: #444 !important;
}

mat-form-field
{
    width: calc(100% - 1.5em);   
}

button.create-item
{
    position: fixed;
    right: 1em;
    bottom: 1em;
}